* {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#logo {
    transition: transform 1s;
    animation: ZoomIn 1s 1 ease-in-out;
    cursor: pointer;
}

#logo:hover {
    transform: rotate(45deg);
}

.pages {
    padding: 10px 15px;
    margin: 0 25px;
    position: relative;
    animation: TopToDown 1s 1, fadeIN 1s 1 ease-in-out;

}

.pages a {
    padding: 25px;
    text-decoration: none;
    color: #FF0B06;
    font-size: 28px;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: inline-block;



}

.pages a:hover {
    transform: scale(1.2);
    color: #3E8E41;
    font-weight: bold;
}

.icons {
    animation: LeftToRight 1s 1;
}

.icons a:nth-child(3) {
    margin: 0px 25px;
    padding: 15px 25px;
    font-size: 22px;
    background-color: #F7DC6F;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;

    transition: transform 0.3s ease-in-out;
}

.icons a:hover {
    transform: scale(1.2);
}

.icons img {
    padding: 0 10px;
    margin: 0;
    width: 25px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.icons img:hover {
    transform: scale(1.3);

}


/* Header Content Start */

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color:#F0F0F0  ;
    position: relative;
}
.content-side{
    padding: 10px 20px;
    margin: 10px 25px;
}
.content-side h1{
    font-size: 65px;
}

.content-side h1 span{
    color: #3E8E41;
}
.content-side p{
    font-size: 20px;
    padding: 15px 0px;
}

.button{
    display: inline-block;
    padding:10px 20px;
    font-weight: bold; 
    color: white;
    text-decoration: none;
    margin: 25px 12px;
    border-radius: 20px;
    font-size: 22px;
    animation: ZoomIn 1s 1 ease-in-out;
    transition: all 0.5s ease-in;
  
}
.button:hover{
    background-color: #3E8E41 ;
    transform: scale(1.2);
}

.button-primary{
    background-color: #FF0B06;
}

.button-secondary{
    border: 1px solid #FF0B06;
    background-color: transparent;
    color: black;
}
.button-secondary:hover{
    background-color: transparent;
    border: 1px solid #3E8E41;
}

.image-side{
    padding: 10px 20px;
    margin: 10px 25px;
    
}




/* Counter */

.counter{
    height: 150px;
    background-color: #FF0B06;
    border-radius: 15px;
    width: 40%;
    margin: auto;  
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -10%;
    animation: LeftToRight 1s 1;
    
}

.counter-item{
    
   font-size: 24px;
   margin: 25px;
   color: white;
   font-weight: bold;

  }
  
    

.counter-label
{
    margin: 10px 0px;
}



/* Why Choose Us - Section Start */


section,.why-choose-us{
    height: 500px;

    padding: 15px 20px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.why-choose-us h2{
    font-size: 50px;
    padding: 15px ;
}
.why-choose-us p{
    font-size: 20px;
    padding: 10px ;
    text-align: center;
}



.specialties-container{
    display: grid;
  grid-template-columns: repeat(4, 350px); 
  grid-template-rows: repeat(1, 250px); 
;
  grid-gap: 20px; 
  margin-top: 5%;
  
}

.specialities{
    margin: 10px 20px;
    grid-column-gap: 50px;
    background-color: #F7DC6F ;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 4px 7px 2px gray;
    transition: all 0.6s ease;
    border-top:5px solid black ;
    
 
  
}
.specialities:hover{
    /* transform: skew(-10deg); */
    transform: scale(1.1);
    background-color: #ffcc00 ;
}
.specialities h3{
    font-size: 25px;
}



























/* animations */

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(190deg);
    }

    100% {
        transform: rotate(0deg);
    }



}

@keyframes fadeIN {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes ZoomIn {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes TopToDown {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);
    }
}


@keyframes LeftToRight {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0px);
    }
}


