* {
    padding: 0;
    margin: 0;
    font-family: arial;
}

header {
    height: 900px;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.567), rgba(0, 0, 0, 0.611)), url("images/header.jpg");
    background-size: cover;
    background-position: center;

}

/* Start Navigation Styling */
nav {
    display: flex;
    justify-content: space-between;
    padding: 35px;
    align-items: baseline;
}

.logo {
    font-size: 40px;
    color: #ff7b00;

}

.pages {
    padding: 0px 10px;
}

.pages a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding: 0px 20px;
}

.logins {
    display: flex;
    padding: 0px 20px;
    margin: 0px 15px;
    align-items: center;
}

.icon {
    padding: 0px 10px;
}

.login-button a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
}

.reg-button a {
    color: #ff7b00;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 25px;
    background-color: white;
    border-radius: 10px;

}

/*End OF Navigation Styling*/


/* Start Main Content Of Header  */

.head-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    padding: 20px;

}

.head-content h1 {
    color: white;
    font-size: 70px;
    text-align: center;
    padding: 10px;
}

.head-content p {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.head-content a {
    color: white;
    background-color: #ff7b00;
    border-radius: 10px;
    padding: 15px 25px;
    margin-top: 10px;
    text-decoration: none;
}

.main-bar {
    width: 50%;
    height: 170px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-bar h3,
img {
    display: inline-block;
    padding: 20px;
}


/* Categories Section Start */

.categories{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
}
h2{
    font-size: 48px;
    padding: 50px;
}
.cat-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cats{
    display: flex;
    justify-content: center;
    position: relative;
    
}

.cat1,.cat2,.cat3,.cat4{
    background: linear-gradient(rgba(0, 0, 0, 0.567), rgba(0, 0, 0, 0.611)), url("images/marketing.jpg");
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 500px;
    border-radius: 10px;
    margin: 5px;
  
}
.cat2{
    background: linear-gradient(rgba(0, 0, 0, 0.567), rgba(0, 0, 0, 0.611)), url("images/programming.jpg");
    background-position: center;
    background-size: cover;
}
.cat3{
    background: linear-gradient(rgba(0, 0, 0, 0.567), rgba(0, 0, 0, 0.611)), url("images/tech.jpg");
    background-position: center;
    background-size: cover;
}
.cat4{
    background: linear-gradient(rgba(0, 0, 0, 0.567), rgba(0, 0, 0, 0.611)), url("images/design.jpg");
    background-position: center;
    background-size: cover;
}



.text-overlay{
    position: absolute;
   bottom: 10%;
   color: white;
   font-size: 32px;
   transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  
}

.cats:hover .text-overlay{
   opacity: 0;
   bottom: 50%;
}


/* About section start */

.about{
    height: 700px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
 

}

.about-image img {
    width: 500px;
    height: 700px;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-content h2{
    padding: 15px;
    font-size: 42px;
}
.about-content span{
    color:  #ff7b00;
}
.about-content p{
   padding: 15px;
   font-size: 25px;
}
.enr-button{
    padding: 15px;
}
.enr-button a {
    color:white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 25px;
    background-color:  #ff7b00;
    border-radius: 10px;

}

/* Courses SEction Start */

.courses{
    height: 700px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.courses h2{
    text-align: center;
    padding: 15px;
    font-size: 42px;
    margin-top: 20%  ;
}
.crs-list{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.title{
    display: flex;
    justify-content: space-evenly;
    align-items:baseline;

}

.title h3{
    font-size: 25px;
}
.stars img{
    padding: 0;
    width: 20%;
}



.detail{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-top:7%;
}
.detail h3{
    font-size: 35px;
    color: #ff7b00;
}
.detail img{
   padding: 0 6px;
    width: 10%;
}
